header {
    background-color: var(--color-background-neutral-90);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav {
  display: none;
}

nav.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegation-menu {
    margin: 24px 0;
}

.navegation-link {
    margin-top: 0.5rem;
}

.navegation-link li {
    list-style: none;
    margin: 0.5rem 0;
}

.navegation-link a {
    color: var(--color-background-neutral-0);
    text-decoration: none;
    font-family: var(--font-family-primary);
}
