header {
    background-color: var(--color-background-neutral-90);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav {
  display: none;
}

nav.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegation-menu {
    margin: 24px 0;
}