.payments .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    margin-top: 24px;
    width: 100%;
}

.payments .content-container .image-gallery .image.first {
    background: url(../img/payment-japão1-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.payments .content-container .image-gallery .image.second {
    background: url(../img/payment-japão2-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.payments .content-container .image-gallery .image.third {
    background: url(../img/payment-japão3-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.payments .content-container .image-gallery .image.colspan-2 {
    grid-column: span 2;
}

/* PACOTES DE VIAGENS */
.travel-packages .content-container h3 {
    font-size: var(--font-size-4xl);
    margin: 0;
}

.travel-packages .content-container h4 {
    font-size: var(--font-size-2xl);
    margin: 24px 0;
}

.travel-packages .content-container .image-gallery .image.first {
    background: url(../img/travel-packages/payment1-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.travel-packages .content-container .image-gallery .image.second {
    background: url(../img/travel-packages/payment2-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.travel-packages .content-container .image-gallery .image.third {
    background: url(../img/travel-packages/payment3-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .payments .content-container .image-gallery .image.first {
        background: url(../img/payment-japão1-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .payments .content-container .image-gallery .image.second {
        background: url(../img/payment-japão2-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .payments .content-container .image-gallery .image.third {
        background: url(../img/payment-japão3-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* PACOTES DE VIAGENS */
    .travel-packages .content-container .image-gallery .image.first {
        background: url(../img/travel-packages/payment1-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .travel-packages .content-container .image-gallery .image.second {
        background: url(../img/travel-packages/payment2-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .travel-packages .content-container .image-gallery .image.third {
        background: url(../img/travel-packages/payment3-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1440px) {
    .payments .content-container {
        display: flex;
        justify-content: space-between;
    }

    .payments .content-container .text-content {
        width: 360px;
    }

    .payments .content-container .image-gallery {
        width: 790px;
        margin: 0;
    }

    /* PACOTES DE VIAGENS */
    .travel-packages .content-container .image-gallery .image.first {
        background: url(../img/travel-packages/payment1-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .travel-packages .content-container .image-gallery .image.second {
        background: url(../img/travel-packages/payment2-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .travel-packages .content-container .image-gallery .image.third {
        background: url(../img/travel-packages/payment3-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}